body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(204, 204, 204);
}

section {
    margin-left: 20px;
}

article > h1 {
    font-size: 28px;
}

header > p {
    font-style: italic;
}

p {
    font-size: 24px;
}