@import url('https://fonts.google.com/selection?selection.family=Lato');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    background: linear-gradient(45deg,
    rgba(253, 149, 192, 1) 0%,
    rgba(195, 95, 204, 1) 38%,
    rgba(175, 104, 241, 1) 66%,
    rgba(175, 104, 241, 1) 84%,
    rgba(168, 125, 255, 1) 100%);
}