@import url("https://fonts.googleapis.com/css?family=Lato:300,400,900");

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: "Lato", sans-serif;
    color: #ffffff;
}

div.recipies-info > p > span {
    color: #b5c640;
}

h1 {
    text-transform: uppercase;
}

main {
    background: url("img/food-image-bg.png") no-repeat center;
    background-size: cover;
}