@import url(https://fonts.googleapis.com/css?family=Lato:300,400,900);

body {
    font-family: "Lato", sans-serif;
}

ul {
    padding: 0px;
    heigth: 40px;
    line-heigth: 30px;
    background-color: rgb(132, 179, 173);
}

li {
    display: inline-block;
    width: 100px;
    margin: 0 5px;
    padding: 5px 0;
    cursor: pointer;
    text-align: center;
    color: rgb(255, 255, 255);
}

li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

li:hover {
    background-color: rgb(19, 94, 62);
    padding: 5px 0;
}