@import url(https://fonts.googleapis.com/css?family=Lato:300,400,900);

* {
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: rgb(41, 62, 79);
}

header > h1,h2{
    text-align: center;
}
ul{
    list-style-type: none;
}

li{
    display: inline-block;
}
section{
    display: inline-block;
    width: 350px;
}

img {
    border-radius: 5px;
    width: 40%;
}

a{
    text-decoration: none;
}